asgiref==3.8.1
chardet==5.2.0
chartjs==1.2
Django==5.1.1
django-appconf==1.0.6
django-chartjs==2.3.0
django-compressor==4.5.1
django-widget-tweaks==1.5.0
mysqlclient==2.2.4
pillow==10.4.0
rcssmin==1.1.2
reportlab==4.2.2
rjsmin==1.2.2
sqlparse==0.5.1
tzdata==2024.2
XlsxWriter==3.2.0
