<head>
    <title>Create Subject - Admin Dashboard</title>
</head>
{% extends 'admin/base.html' %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-3xl font-bold mb-6 p-4 bg-gray-50 dark:bg-gray-900 dark:text-white border-t-2 border-white">Create New Subject</h2>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Subject Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" name="name" required>
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create Subject</button>
    </form>
</div>
{% endblock %}