{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="p-8">
    <h1 class="text-3xl font-bold mb-6">Academic Reports</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6">
            <h2 class="text-xl font-bold mb-4">Class Reports</h2>
            <form action="{% url 'generate_class_report' grade_id=0 %}" method="get" id="classReportForm">
                <div class="mb-4">
                    <label for="class_id" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Select Class</label>
                    <select id="class_id" name="grade_id" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        {% for grade in grades %}
                            <option value="{{ grade.id }}">{{ grade.grade_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label for="exam_type" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Select Exam Type</label>
                    <select id="exam_type" name="exam_type" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        {% for exam_type in exam_types %}
                            <option value="{{ exam_type.exam_id }}">{{ exam_type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Generate Class Report
                </button>
            </form>
        </div>

        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6">
            <h2 class="text-xl font-bold mb-4">Individual Student Report</h2>
            <form action="{% url 'generate_student_report' student_id=0 %}" method="get" id="individual-report-form">
                <div class="mb-4">
                    <label for="grade_id" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Select Class</label>
                    <select name="grade_id" id="grade-select" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option value="">Select a class</option>
                    {% for grade in grades %}
                        <option value="{{ grade.id }}">{{ grade.grade_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label for="student_id" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Student ID</label>
                    <select id="student_id" name="student_id" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" disabled>
                        <option value="">Select a student</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="exam_type" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Select Exam Type</label>
                    <select id="exam_type" name="exam_type" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        {% for exam_type in exam_types %}
                            <option value="{{ exam_type.exam_id }}">{{ exam_type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" id="generate-individual-report" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" disabled>
                    Generate Individual Report
                </button>
            </form>
        </div>
    </div>
<br>
    <h2 class="text-3xl font-bold mb-6">Generate All Student Reports</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6">
            <h2 class="text-xl font-bold mb-4">Class Reports</h2>
                <form action="{% url 'generate_all_student_reports' %}" method="get">
                    <div class="mb-4">
                    <select name="grade_id" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        {% for grade in grades %}
                            <option value="{{ grade.id }}">{{ grade.grade_name }}</option>
                        {% endfor %}
                    </select>
                    
                    <div class="mb-4">
                    <select name="exam_type" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        {% for exam_type in exam_types %}
                            <option value="{{ exam_type.exam_id }}">{{ exam_type.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Generate All Reports
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#grade-select').change(function() {
        var gradeId = $(this).val();
        if (gradeId) {
            $.ajax({
                url: '{% url "get_students_by_grade" %}',
                data: {
                    'grade_id': gradeId
                },
                dataType: 'json',
                success: function(data) {
                    $('#student_id').empty();
                    $('#student_id').append('<option value="">Select a student</option>');
                    $.each(data, function(index, student) {
                        $('#student_id').append('<option value="' + student.id + '">' + student.name + '</option>');
                    });
                    $('#student_id').prop('disabled', false);
                },
                error: function(xhr, status, error) {
                    console.error("An error occurred: " + error);
                    alert("An error occurred while fetching students. Please try again.");
                }
            });
        } else {
            $('#student_id').empty();
            $('#student_id').append('<option value="">Select a student</option>');
            $('#student_id').prop('disabled', true);
            $('#generate-individual-report').prop('disabled', true);
        }
    });

    $('#student_id').change(function() {
        if ($(this).val()) {
            $('#generate-individual-report').prop('disabled', false);
        } else {
            $('#generate-individual-report').prop('disabled', true);
        }
    });
});
document.getElementById('classReportForm').addEventListener('submit', function(e) {
    e.preventDefault();
    var classId = document.getElementById('class_id').value;
    this.action = "{% url 'generate_class_report' 0 %}".replace('0', classId);
    this.submit();
});
</script>
{% endblock %}
